$time-transition    : 0.3s;
$largura            : 1200px;
$colorBlue			: #5cf6ed;
$colorBlueHover		: #39cdc4;

// Placeholder
%transition {
	-webkit-transition: all ease-in-out $time-transition; 
	-moz-transition: all ease-in-out $time-transition; 
	transition: all ease-in-out $time-transition;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900';

/* RESET */
* { margin: 0; padding: 0; outline: none; }
html { font-size: 62.5%; }
body { font-family: 'Lato', sans-serif; font-size: 1.6em; font-weight: 200; color: #000; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
audio, canvas, img, video { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
input, textarea { font-weight: 300; }
img { border: 0; }
a { text-decoration: none; cursor: pointer; }
ul,li { list-style: none; @extend %transition; }
.main { width: $largura; margin: 0 auto; position: relative !important; }

a, ul, li{ @extend %transition;}
.cb { clear: both; }
.fl	{ float: left; }
.fr { float: right; }
.txa { text-align: center; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

//icones
[class^="icon-"], [class*="icon-"] {background-image: url(../img/sprite.png); display: block;}
.icon-filtrar { background-position: -124px -1px; width: 24px; height: 24px; }
.icon-like { background-position: -124px -33px; width: 24px; height: 24px; }
.icon-liked { background-position: -159px -33px; width: 24px; height: 24px; }
.icon-menu { background-position: -195px -1px; width: 24px; height: 24px; }
.icon-close { background-position: -232px -4px; width: 40px; height: 40px; }
.icon-plus { background-position: -197px -35px; width: 24px; height: 24px; }
.icon-down { background-position: -282px -5px; width: 20px; height: 22px; }
.icon-grid { background-position: -279px -34px; width: 24px; height: 24px; }
.icon-face { background-position: -309px -3px; }
.icon-plus { background-position: -341px -2px; }



.jspVerticalBar{
	width: 6px !important;
}

.jspDrag{
	background: #40c8c0 !important;
}

header {
	width: 100%;
	display: inline-block;
	background-color: #000;
	padding: 10px 0px;
	margin-bottom: -4px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;

	.logo{
		float: left;
		margin-top: 3px;

		img{
			width: 210px;
		}
	}

	.btn-entrar{
		float: right;
		padding: 10px 20px;
		background-color: $colorBlue;
		font-weight: 500;

		&:hover{
			background-color: $colorBlueHover;
		}
	}

	nav{
		float: right;
		margin-right: 10px;

		ul{
			li{
				font-size: 16px;
				color: #fff;
				margin: 0px 10px;
				float: left;

				a{
					padding: 10px 0px;
					color: #fff;
					display: block;

					&:hover{
						color: #ccc;
					}
				}
			}
		}
	}
}

main{
	margin-top: 58px;
}

main.home{
	width: 100%;
	height: calc(100vh - 60px);
	background: url(../img/background-home.jpg) no-repeat;
	background-size: cover;
	background-position: center;

	.formConsultaHome{
		width: 720px;
		margin: 0 auto;
		position: relative;
		top: 28%;

		span{
			width: 100%;
			display: inline-block;
			text-align: center;
			font-size: 18px;
			margin-bottom: 40px;
		}

		form{
			width: 100%;
			display: inline-block;

			ul.links{
				width: 100%;
				display: inline-block;

				li{
					width: calc(33.3% - 32px);
					float: left;
					margin: 0px 15px;
					border: 1px solid #000;
					text-align: center;

					a{
						display: block;
						padding: 10px;
						font-size: 32px;
						font-weight: 300;
						color: #000;

						&:hover{
							background-color: rgba(0,0,0,0.8);
							color: #FFF;
						}
					}
				}
			}

			.campoSearch{
				width: 350px;
				margin: 0 auto;
				margin-top: 30px;
				position: relative;
				border-bottom: 1px solid #999999;

				input{
					width: 100%;
					padding-right: 40px;
					border: 0px;
					background-color: transparent;
					padding: 10px;
					box-sizing: border-box;
					outline: none;
				}

				button{
					width: 40px;
					height: 40px;
					position: absolute;
					right: 0px;
					top: 0px;
					border: 0px;
					background-color: transparent;
				}
			}
		}
	}
}

main.passo2{
	width: 100%;
	min-height: calc(100vh - 93px);
	background: url(../img/bg-passo2.jpg) no-repeat;
	background-color: #d1d1d1;
	background-position: top right;
	position: relative;

	.containerCenter{
		width: 360px;
		height: 360px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;

		span.titulo{
			width: 100%;
			font-size: 23px;
			font-weight: 100;
		}

		.icon-manequim{
			width: 33px;
			height: 68px;
			margin: 0 auto;
			margin-top: 20px;
			margin-bottom: 30px;
		}

		.range{
			width: 100%;
			margin-top: -18px;
		}

		.btnSeguir{
			width: 60px;
			height: 60px;
			background: url(../img/sprite.png);
			background-position: -47px 0;
			background-color: $colorBlue;
			margin: 0 auto;
			border: 0px;
			margin-top: 40px;
			@include border-radius(60px);
			cursor: pointer;

			&:hover{
				background-color: $colorBlueHover;
			}
		}

		.linkVoltar{
			width: 100%;
			display: inline-block;
			text-align: center;
			margin-top: 20px;
			font-size: 16px;
			color: #848282;

			&:hover{
				color: #000;
			}
		}
	}
}

.value {
	position: absolute;
	top: 30px;
	left: 50%;
	margin: 0 0 0 -20px;
	width: 40px;
	text-align: center;
	display: block;

	/* optional */

	font-weight: normal;
	font-family: Verdana,Arial,sans-serif;
	font-size: 14px;
	color: #333;
}

.price-range-both.value {
	width: 100px;
	margin: 0 0 0 -50px;
	top: 26px;
}

.price-range-both {
	display: none; 
}

.value i {
	font-style: normal;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: $colorBlue !important;
	border: 0px !important;
	@include border-radius(50px);
	cursor: pointer !important;
}

.ui-widget-content{
	background: #999999 !important;
	border: 0px !important;
}

.ui-slider-horizontal{
	height: 5px !important;
}

.ui-widget-header{
	background: $colorBlue !important;
}

.ui-slider-horizontal .ui-slider-handle{
	top: -8px !important;
}

footer{
	width: 100%;
	background-color: #000;
	padding: 10px 0px;
	color: #f2f2f2;
	font-size: 14px;
}

main.listagem{
	width: 100%;
	display: inline-block;

	.barraTop{
		width: 100%;
		display: inline-block;
		border-bottom: 1px solid #eeeeee;
		padding: 10px 0px;

		.sessoes{
			float: left;
			display: inline-block;

			&:before{
				content: '_';
				float: left;
				font-size: 46px;
				display: inline-block;
				margin-top: -30px;
				font-weight: 100;
			}

			li{
				float: left;
				display: inline-block;
				margin: 5px 10px;
				font-size: 20px;
				font-style: italic;
				font-weight: 400;

				a{
					color: #cccccc;

					&:hover{
						color: #222;
					}
				}
			}

			.active{
				a{
					color: $colorBlueHover;

					&:hover{
						color: $colorBlueHover;						
					}
				}	
			}
		}

		.right{
			float: right;

			li{
				float: left;
				display: inline-block;
				margin: 4px 10px;
				cursor: pointer;

				&:hover{
					opacity: 0.7;
				}

				i{
					float: left;
					margin-right: 3px;
				}

				span{
					float: left;
					margin-top: 2px;
					font-weight: bold;
				}
			}
		}
	}

	.containerListagem{
		width: 100%;
		min-height: calc(100vh - 150px);

		.encontrados{
			width: 100%;
			font-size: 32px;
			font-weight: 100;
			margin-top: 5px;
		}

		.listaModelos{
			width: calc(100% + 0px);
			display: inline-block;

			li.itemModelo{
				width: 25%;
				float: left;
				display: inline-block;
				padding: 32px;
				box-sizing: border-box;

				figure{
					width: 100%;
					margin: 0px;

					img{
						width: 100%;
						display: block;
					}
				}

				.bottom{
					width: 100%;
					display: inline-block;
					margin-top: 10px;

					.iconLike{
						float: left;
						cursor: pointer;
					}

					.name{
						float: right;
						font-size: 16px;
						font-weight: 700;
						color: #000;
					}
				}
			}
		}
	}
}

//barra filtro
.barraFiltro{
	width: 390px;
	height: calc(100% - 58px);
	background-color: #fff;
	position: fixed;
	top: 58px;
	right: 0px;
	z-index: 99;
	-webkit-box-shadow: -6px 0px 64px 1px rgba(0,0,0,0.39);
	-moz-box-shadow: -6px 0px 64px 1px rgba(0,0,0,0.39);
	box-shadow: -6px 0px 64px 1px rgba(0,0,0,0.39);
	display: none;

	.btnClose{
		position: absolute;
		top: 20px;
		left: -20px;
		cursor: pointer;
	}

	.containBarra{
		width: 100%;
		padding: 10px;
		box-sizing: border-box;

		.scroll-pane{
			height: calc(100vh - 65px);
			overflow: auto;	
		}

		.field{
			width: 100%;
			padding: 20px;
			box-sizing: border-box;
			border-bottom: 1px solid #f5f5f5;

			&:last-child{
				border-bottom: 0px;
			}

			label{
				width: 100%;
				display: inline-block;
				margin-bottom: 10px;
			}

			.range{
				height: 40px;
				position: relative;
			}

			.fieldAutocomplete{
				width: 100%;
				display: inline-block;
				border-bottom: 1px solid #000;
				box-sizing: border-box;

				input{
					width: calc(100% - 36px);
					float: left;
					border: 0px;
					padding: 10px;
					box-sizing: border-box;
					background-color: transparent;
				}

				button{
					float: right;
					width: 26px;
					text-align: center;
					border: 0px;
					background-color: transparent;
					font-size: 20px;
					font-weight: bold;
					cursor: pointer;
				}
			}

			.fieldCheckes{
				width: 100%;
				display: inline-block;

				.check{
					width: 50%;
					float: left;
					display: inline-block;
					margin: 10px 0px;

					input{
						width: auto;
						float: left;
					}

					span{
						float: left;
						margin-left: 5px;
						font-weight: bold;
						color: #000;
						margin-top: -3px;
					}
				}
			}
		}

		.fieldBtns{
			width: 100%;
			display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; justify-content: center;
			margin-bottom: 20px;

			button{
				float: left;
				width: 115px;
				padding: 10px 10px;
				box-sizing: border-box;
				text-align: center;
				margin: 0px 5px;
				border: 0px;
				cursor: pointer;

				&:hover{
					opacity: 0.8;
				}
			}

			.btnCancelar{
				background-color: #cccccc;
				color: #666666;
			}

			.btnFiltrar{
				background-color: $colorBlue;
				color: #000;
			}
		}
	}
}

.maskBarraFiltro{
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: fixed;
	background-color: rgba(0,0,0,0.4);
	z-index: 98;
	display: none;
}

//Intena perfil
.sidebarPerfil{
	width: 295px;
	float: left;
	position: relative;
	padding-left: 10px;
	display: inline-block;
	margin-bottom: 30px;
	margin-top: 20px;

	.namePerfil{
		width: 100%;
		font-size: 36px;
		font-weight: 100;
	}

	.breveInfos{
		width: 100%;
		font-size: 15px;
		margin-top: 5px;
	}

	.linksUlteis{
		width: 100%;
		margin-top: 15px;
		display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; justify-content: center;

		li{
			width: auto;
			float: left;
			margin: 0px 15px;
			font-weight: bold;
			cursor: pointer;

			&:hover{
				opacity: 0.8;
			}

			i{
				float: right;
				margin-left: 5px;
			}
		}
	}

	hr{
		width: 70px;
		position: relative;
		left: -10px;
		margin-top: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #000;
	}

	.ctn{
		width: 180px;
		margin: 0 auto;
	}

	.detalhesModelo{
		width: 100%;
		font-size: 16px;
		display: inline-block;

		li{
			width: 100%;
			display: inline-block;

			.key{
				width: 60%;
				float: left;
				color: #666666;
			}

			.valor{
				width: 40%;
				color: #000;
				font-weight: 400;
				font-style: italic;
				float: left;
			}
		}
	}

	h4{
		font-weight: 100;
		color: #999999;
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
		margin-top: 25px;
	}

	span.listEspecialidades{
		font-weight: bold;
		color: #000;
		font-style: italic;
	}

	.listTrabalhos{
		width: 100%;
		display: inline-block;

		li{
			font-weight: bold;
			color: #000;
			font-style: italic;		
			margin: 4px 0px;
			display: none;

			&:nth-child(-n+5){
				display: block;
			}
		}
	}

	.moreListTrabalhos{
		padding: 8px 10px;
		padding-top: 0px;
		width: auto;
		display: inline-block;
		border: 1px solid $colorBlue;
		@include border-radius(6px);
		cursor: pointer;

		&:hover{
			background-color: #f2f2f2;
		}
	}

	.telefoneContato{
		width: 100%;
		font-size: 18px;
		font-weight: 400;
		position: relative;

		&:after{
			content: '';
			width: 100px;
			height: 30px;
			position: absolute;
			right: 0px;
			top: 0px;
			z-index: 0;
			background: rgba(255,255,255,0);
			background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(1%, rgba(255,255,255,0)), color-stop(73%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
			background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

		}

		i{
			width: 30px;
			position: absolute;
			top: 0px;
			right: -15px;
			z-index: 2;
			cursor: pointer;
		}
	}

	.telefoneContatoShow:after{
		display: none;
	}

	.btnContato{
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		border: 1px solid $colorBlueHover;
		font-size: 16px;
		text-align: center;
		display: inline-block;
		margin: 30px 0px;
		font-weight: 500;
		color: #000;

		&:hover{
			background-color: $colorBlue;
		}
	}

	.ultimaAtualizacao{
		width: 100%;
		color: #666666;
		font-size: 17px;

		p{
			margin: 5px 0px;
		}
	}
}

.containerGalleryPerfil{
	width: calc(100% - 310px);
	float: right;

	ul{
		width: 100%;
		display: inline-block;

		li{
			width: 100%;
			margin: 20px 0px;
			display: inline-block;

			img{
				max-width: 100%;
			}
		}
	}
}

//Preços
main.precos{
	width: 100%;
	display: inline-block;

	.collLeft{
		width: 50%;
		min-height: calc(100vh - 94px);
		float: left;
		display: inline-block;
		margin-bottom: -3px;
		background: url(../img/bgPrecos.jpg) no-repeat;
		background-position: center right;
		background-size: cover;
		background-color: #FFF;
		position: relative;

		.boxWhite{
			width: 470px;
			max-width: 100%;
			height: 330px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			position: absolute;
			background-color: #FFF;
			-webkit-box-shadow: 0px 0px 132px -3px rgba(0,0,0,0.56);
			-moz-box-shadow: 0px 0px 132px -3px rgba(0,0,0,0.56);
			box-shadow: 0px 0px 132px -3px rgba(0,0,0,0.56);
			padding: 30px;
			box-sizing: border-box;
			text-align: center;

			h2{
				font-size: 30px;
				font-weight: 400;
				margin-top: 25px;
			}

			.vantagens{
				width: 100%;
				display: inline-block;
				margin-top: 40px;

				li{
					width: 100%;
					text-align: center;
					padding: 10px;
					box-sizing: border-box;
					font-weight: lighter;
					font-size: 20px;
					border-bottom: 1px solid #ececec;

					&:last-child{
						border-bottom: 0px;
					}
				}
			}
		}
	}

	.collRight{
		width: 50%;
		height: calc(100vh - 94px);
		float: left;
		padding: 50px;
		margin-bottom: -3px;
		box-sizing: border-box;
		background-color: #FFF;
		overflow: auto;

		.container{
			display: block;
			height: 100%;
			width: 420px;
			margin: 0 auto;
			display: table;


			.ctn{
				width: 100%;
				display: table-cell;
				vertical-align: middle;

				.planos{
					width: 100%;
					display: inline-block;

					li{
						width: 33.3%;
						float: left;
						text-align: center;
						outline: 1px solid #ccc;
						padding: 40px 10px;
						box-sizing: border-box;
						font-size: 24px;
						cursor: pointer;

						&:hover{
							background-color: #f6f6f6;
						}

						h4{
							font-weight: lighter;
							font-size: 34px;
							margin-top: 5px;
						}
					}

					li.active{
						outline: 1px solid $colorBlue;
						background-color: $colorBlue;
					}
				}

				.formCadastro{
					width: 100%;
					margin-top: 20px;

					.field{
						width: 100%;
						display: inline-block;
						margin: 10px 0px;

						label{
							font-size: 16px;
							color: #b1b1b1;
						}

						input{
							width: 100%;
							padding: 12px 0px;
							border: 0px;
							border-bottom: 2px solid #000;
							font-size: 22px;
							font-weight: normal;
						}

						input[type="submit"]{
							border-bottom: 0px;
							height: 60px;
							background-color: $colorBlue;
							font-size: 20px;
							cursor: pointer;
							margin-top: 10px;
							@extend %transition;

							&:hover{
								background-color: $colorBlueHover;
							}
						}
					}

					.f-md{
						width: calc(50% - 20px);
						margin-right: 40px;
						float: left;
					}

					.mr-z{
						margin-right: 0px;
					}
				}

				.btnLogin{
					width: 100%;
					display: inline-block;
					margin-top: 10px;

					li{
						width: calc(50% - 1px);
						float: left;
						text-align: center;
						box-sizing: border-box;
						font-size: 18px;

						&:last-child{
							float: right;
						}

						a{
							padding: 18px 10px;
							display: block;
							color: #FFF;
						}

						i{
							width: 23px;
							height: 23px;
							display: inline-block;
							margin-left: 4px;
							margin-bottom: -5px;
						}
					}

					.loginFace{
						background-color: #5770a7;

						&:hover{
							background-color: #405686;
						}
					}

					.loginPlus{
						background-color: #d43e33;

						&:hover{
							background-color: #a3342c;
						}
					}
				}
			}
		}
	}
}

//Responsive
@media only screen and (max-width: 1200px){
	.main{
		width: 95%;
	}
}